<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/app_name"
            android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DealerFeatures">
        </activity>
        <activity
            android:name=".CustomerFeatures">
        </activity>
        <activity
            android:name=".About">
        </activity>
        <activity
            android:name=".GetSupport">
        </activity>
        <activity
            android:name=".LocateDealer">
        </activity>
        <activity
            android:name=".MyAccount">
        </activity>
        <activity
            android:name=".UserManual">
        </activity>
    </application>

</manifest>